@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-family: 'Pacifico', cursive;
}

h3 {
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;;
}
#navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-bottom: 50px;;
}

.spacing {
    margin-bottom: 20px;
}

.subcontent {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    align-items: center;
    line-height: 30px;
}

.underline {
    text-decoration: underline;
}

.bullets li {
    list-style-type: none;
    position: relative;
    padding-left: 25px;
}

.bullets li::before {
    content: "\2022";
    position: absolute;
    left: 0px;
    top: 50%;
    color: black;
    transform: translateY(-50%);
    font-size: 18px;
}

#svg-icons {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    margin: 100px auto;
}

button {
    margin-top: 100px;;
    height: 40px;
    width: 150px;
    font-family: 'Pacifico', cursive;
    border: 2px solid black;
    border-radius: 20px;
    background-color: cadetblue;
}

#side-nav {
    display: none;
}